:root {
    --clr-dark: #1c1917;
    --clr-light: #f1f5f9;
    --clr-slate400: #62748e;
    --clr-slate600: #475569;
    --clr-slate800: #1e293b;
    --clr-orange: #ca3500;
    --clr-red: #fb2c36;
    font-family: "Aleo";
}

h1 {
    font-weight: 500;
}

p {
    font-weight: 300;
}

:root {
    line-height: calc(1em + 8px);
}