* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    /* border: 1px dotted rgb(0, 0, 0); */
    width: min(90%, 1150px);
    margin: auto;
    margin-top: 20px;
}

img {
    display: block;
}

svg {
    cursor: pointer;
    width: 2.3rem;
}

.transform {
    transition: transform 0.5s;
}

.transform:hover {
    transform: translateY(-10px);
}